</div> <!-- End of container div -->
<footer>
    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">&copy; nodedienst.de 2013</span>
            <ul class="nav">
                <li{{#if isHomepage}} class="active"{{/if}}><a href="/">Home</a></li>
                <li{{#if isUserEvents}} class="active"{{/if}}><a href="/userEvents">userEvents</a></li>
                <li{{#if isArtistSearch}} class="active"{{/if}}><a href="/artistSearch">artistSearch</a></li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/backbone.js"></script>
<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/apps/userEventsApp/index.js"></script>
<script type="text/javascript">
    (function(){
        $('.typeahead').typeahead({
            source: function (query, process) {
                return $.get('/api/artist/search/' + query , {}, function (data) {
                    return process(data.options);
                });
            },
            minLength:3
        });
    })();
</script>
</body>
</html>