{{> _header }}
<div id="userEventsApp">
    <section>
        <div id="map-canvas"></div>
        <div id="appContainer"></div>
    </section>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

<script type="text/javascript">

    var map = L.map('map-canvas').setView([51.505, -0.09], 13);

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);


    L.marker([51.5, -0.09]).addTo(map);

</script>
{{> _footer }}