/* MOBILE FIRST! */
#userEventsApp {
    & #map-canvas {
        height: 180px;
    }
    & .user-events-app-event-date,
    .user-events-app-button {
        display: none;
    }
}

/* All devices with resolutions higher than mobile */
@media (min-width: 481px) {
    #userEventsApp {
        & .user-events-app-event-date,
        .user-events-app-button {
            display: inline-block;
        }
    }
}